*,
html,
body,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(3, 41, 73);
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  margin-left: 500px;
}

.calc {
  width: 400px;
  background-color: rgb(67, 57, 93);
  border-radius: 10px;
}

.btn-wrapper {
  background-color: rgb(207, 220, 231);
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex: 1;
  border-left: none;
  border-top: none;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.row {
  display: flex;
}

.btn-color {
  background-color: #f5913e;
}

.zero {
  flex-grow: 2;
}

.row1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #e0e0e0;
  padding: 10px;
  color: rgb(0, 0, 0);
  height: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 15px 50px;
  color: white;
}

.logo {
  margin-top: 20px;
  margin-left: 40px;
  letter-spacing: 10px;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
  margin-right: 150px;
  margin-top: 20px;
}

.menu-link {
  color: white;
  text-decoration: none;
  padding-left: 20px;
  font-size: 20px;
}

.footer {
  position: fixed;
  top: 93%;
  background-color: #969492;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 50px;
  border: 2px solid white;
}

.footer-text {
  margin-top: 10px;
}

.home-page {
  margin: 100px 200px;
  color: white;
  width: 70%;
}

.text {
  padding: 20px;
}

.some-math {
  position: fixed;
  top: 27%;
  left: 15%;
  color: white;
  letter-spacing: 10px;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quote-text {
  position: fixed;
  top: 40%;
  left: 18%;
  color: white;
  width: 70%;
  font-family: 'Courier New', Courier, monospace;
}

.william-quote {
  letter-spacing: 5px;
  line-height: 50px;
}
