*,
html,
body,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(3, 41, 73);
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.calc {
  width: 400px;
  background-color: rgb(67, 57, 93);
  border-radius: 10px;
}

.btn-wrapper {
  background-color: rgb(207, 220, 231);
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex: 1;
  border-left: none;
  border-top: none;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.row {
  display: flex;
}

.btn-color {
  background-color: #f5913e;
}

.zero {
  flex-grow: 2;
}

.row1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #e0e0e0;
  padding: 10px;
  color: rgb(0, 0, 0);
  height: 50px;
}
